* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.sidebar{
    background-color: darkcyan;
    grid-row: 1/3;
}

.header{
    background-color: red;
}

.main{
    background-color: goldenrod;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 2fr 6fr;
}

.sidebar{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr ;
    align-items: center;
    justify-items: flex-start;
}

.info,
.side-header{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: end;
    gap: 15px;
}

.info img{
    max-width: 1.8rem;
    min-width: 1.5rem;
}

.side-header{
    margin: 15px;
    align-items: center;
    font-size: larger;
}

.side-class1{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
    margin: 1.8rem;
    align-self:  baseline;
    font-size: 22px;
}

.side-class2{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    align-self:  baseline;
    margin-top: 2rem;
}